body{
width: 100vw;
height: 100vh;
margin: 0;
}

.container{


    position: absolute;
    width: 70%;
    height: 60%;
    top: 10%;
    left: 15%;
    box-sizing: border-box;
    background-color: azure;
    
}

.row{

    margin-bottom: 1rem;
}

img{

    width: 30px;
    height: 30px;
}

input{

    padding-left: 0;
    margin-left: 0;
}
button{

    position: absolute;
    left: 50%;

}

